<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f92315a8-3233-4331-a00e-0c48070aebbf" Publisher="CN=Edward" Version="1.0.0.1" />
  <Properties>
    <DisplayName>痕迹阅读器</DisplayName>
    <PublisherDisplayName>Edward</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MarkRSSReader.App">
      <VisualElements DisplayName="痕迹阅读器" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="痕迹阅读器" ForegroundText="dark" BackgroundColor="#F29C0D">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>